<?xml version = "1.0" encoding = "UTF-8"?>
<configuration>

    <property scope="context" name="CONSOLE_LOG_PATTERN"
              value="%black(%d{yyyy-MM-dd HH:mm:ss.SSS}) %highlight(%-5level) [%blue(%t)] %yellow(%logger{35}.%M) - %msg%n"/>
    <property scope="context" name="FILE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{35}.%M - %msg%n"/>

    <property scope="context" name="LOG_DIR" value="/booking-system/logs"/>
    <property scope="context" name="LOG_FILE" value="booking-app"/>
    <property scope="context" name="FILE_EXTENSION" value="log"/>

    <property scope="context" name="MAX_HISTORY" value="10"/>
    <property scope="context" name="MAX_FILE_SIZE" value="10MB"/>
    <property scope="context" name="TOTAL_FILE_SIZE" value="2GB"/>


    <appender name="consoleAudit" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="fileAudit" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_DIR}/${LOG_FILE}.%d{yyyy-MM-dd}.%i.${FILE_EXTENSION}
            </fileNamePattern>
            <!-- each file should be at most ${MAX_FILE_SIZE}, keep ${MAX_HISTORY} days worth of history, but at most ${TOTAL_FILE_SIZE} -->
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            <maxHistory>${MAX_HISTORY}</maxHistory>
            <totalSizeCap>${TOTAL_FILE_SIZE}</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="consoleAudit"/>
        <appender-ref ref="fileAudit"/>
    </root>
</configuration>
